<a href="https://colab.research.google.com/github/lavish537/python-practice/blob/main/python_classroom.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

DAY 1

In [ ]:
a,b,c=10,"hello","cse"

In [ ]:
type(b)
type(c)

str

In [ ]:
type(a)

int

In [ ]:
id(a)

10758024

In [ ]:
id(b)

134463576349296

In [ ]:
print(a)
print(b,c)

10
hello cse

In [ ]:
a,b,c=6,2,5
if(a>b):
  if(a>c):
    print(a," is large")
  else:
    print(c," is large")
else:
  if(b>c):
    print(b," is large")
  else:
    print(c," is large")

6  is large

In [ ]:
a,b,c,d,e=4,24,53,64,2
if(a>b and a>c and a>d and a>e):
  print(a," is largest")
elif(b>c and b>d and b>e):
  print(b," is largest")
elif( c>d and c>e):
  print(c," is largest")
elif(d>e):
  print(d," is largest")
else:
  print(e," is largest")

64  is largest

In [ ]:
i=1
while(i<11):
  print("5 x ",i," = ",i*5)
  i=i+1

5 x  1  =  5
5 x  2  =  10
5 x  3  =  15
5 x  4  =  20
5 x  5  =  25
5 x  6  =  30
5 x  7  =  35
5 x  8  =  40
5 x  9  =  45
5 x  10  =  50

In [ ]:
i=1
while(i<11):
  print("5 x ",i," = ",i*5)
  i=i+1
else:
  print("out of the loop")
  print("exit")

5 x  1  =  5
5 x  2  =  10
5 x  3  =  15
5 x  4  =  20
5 x  5  =  25
5 x  6  =  30
5 x  7  =  35
5 x  8  =  40
5 x  9  =  45
5 x  10  =  50
out of the loop
exit

In [ ]:
for i in range(11):
  print(i)

0
1
2
3
4
5
6
7
8
9
10

In [ ]:
for i in range(2,10,2):
  print(i)

2
4
6
8

In [ ]:
i=1
while(i<11):
  print("5 x ",i," = ",i*5)
  i=i+1

5 x  1  =  5
5 x  2  =  10
5 x  3  =  15
5 x  4  =  20
5 x  5  =  25
5 x  6  =  30
5 x  7  =  35
5 x  8  =  40
5 x  9  =  45
5 x  10  =  50

In [ ]:
for i in range(1,11):
  print("5 x ",i," = ",i*5)

5 x  1  =  5
5 x  2  =  10
5 x  3  =  15
5 x  4  =  20
5 x  5  =  25
5 x  6  =  30
5 x  7  =  35
5 x  8  =  40
5 x  9  =  45
5 x  10  =  50

In [ ]:
#area of rectangle
l=10
b=5
print(" area of rectangle is ",l*b)

 area of rectangle is  50

#day 2

In [ ]:
num=int(input("enter the no. : "))
for i in range(1,11):
  print(num," x ",i," = ",i*num)

enter the no. : 7
7  x  1  =  7
7  x  2  =  14
7  x  3  =  21
7  x  4  =  28
7  x  5  =  35
7  x  6  =  42
7  x  7  =  49
7  x  8  =  56
7  x  9  =  63
7  x  10  =  70

In [ ]:
l=float(input("enter length: "))
b=float(input("enter breadth: "))
print("perimeter of rectangle is ",2*(l+b))

enter length: 4
enter breadth: 3
perimeter of rectangle is  14.0

In [ ]:
r=float(input("enter radius of circle : "))
print("area of the circle is ", 3.14*r*r)

enter radius of circle : 10
area of the circle is  314.0

In [ ]:
#define function
def fun(fname):
  print("Hello user " + fname)
  print("Hello user " + fname)
  print("Hello user " + fname)
fun("hi")

Hello user hi
Hello user hi
Hello user hi

In [ ]:
def fun2(*k):
  print("Hello user " + k[0])
  print("Hello user " + k[1])
  print("Hello user " + k[2])
fun2("a","b","c")

Hello user a
Hello user b
Hello user c

In [1]:
#default parameter
def fun3(fname= "Lavish"):
  print("Hello user " + fname)
  print("Hello user " + fname)
  print("Hello user " + fname)
fun3()
fun3("yo")

Hello user Lavish
Hello user Lavish
Hello user Lavish
Hello user yo
Hello user yo
Hello user yo

In [ ]:
def f1(x):
  return x*5
f1(10)

50

In [ ]:
def f2(child1,child3,child2):
  print("the value is "+ child3)
f2(child1='a',child2='b',child3='c')

the value is c

In [ ]:
def f3(**k):
  print("the value is "+ k['fname'])
f3(fname='a',mname='b',nname='c')

the value is a

In [ ]:
#calculator
def add(a,b):
  return a+b
def sub(a,b):
  return a-b
def multi(a,b):
  return a*b
def div(a,b):
  if(b==0):
    return "error"
  else:
    return a/b
def calc(var,a,b):
  if(var=="+"):
    print(sub(a,b))
  elif(var=="-"):
    print(sub(a,b))
  elif(var=="*"):
    print(multi(a,b))
  else:
    print(div(a,b))
f=float(input())
g=input()
h=float(input())
calc(g,f,h)

2
/
2
1.0

In [ ]:
#fibonacci series using recursion
def fibonacci(n):
    if n <= 0:
        return 0
    elif n == 1:
        return 1
    else:
        return fibonacci(n-1) + fibonacci(n-2)
n = int(input("Enter the number of terms in the Fibonacci sequence: "))
print("Fibonacci sequence:")
for i in range(n):
    print(fibonacci(i), end=" ")

Enter the number of terms in the Fibonacci sequence: 5
Fibonacci sequence:
0 1 1 2 3

In [ ]:
#factorial of a number
def factorial(n):
    if n == 0 or n == 1:
        return 1
    else:
        return n * factorial(n - 1)
n = int(input("Enter a number to calculate its factorial: "))
print("Factorial of", n, "is", factorial(n))

Enter a number to calculate its factorial: 5
Factorial of 5 is 120

In [ ]:
#to print all the prime within a given internval
def print_prime_numbers(n):
    print("Prime numbers up to", n, ":")
    for num in range(2, n + 1):
        is_prime = True
        for i in range(2, int(num**0.5) + 1):
            if num % i == 0:
                is_prime = False
                break
        if is_prime:
            print(num, end=" ")
n = int(input("Enter a number to find all prime numbers up to it: "))
print_prime_numbers(n)

Enter a number to find all prime numbers up to it: 100
Prime numbers up to 100 :
2 3 5 7 11 13 17 19 23 29 31 37 41 43 47 53 59 61 67 71 73 79 83 89 97

In [ ]:
#add two binary no. by getting values from user
num1=input("Enter first binary number: ")
num2=input("Enter another binary number: ")
sum=bin(int(num1,2) + int(num2,2))
print("The sum of", num1, "and", num2, "in binary is:", sum)

Enter first binary number: 11
Enter another binary number: 11
The sum of 11 and 11 in binary is: 110

In [ ]:
#to take binary from user and print decimal
num3=input("enter binary number: ")
dec_num=int(num3,2)
print("The decimal equivalent of", num3, "is:", dec_num)

Day 4

In [3]:
#add two binary no. specified in program
num1="1101"
num2="1011"
sum=bin(int(num1,2) + int(num2,2))
print("The sum of", num1, "and", num2, "in binary is:", sum[2:])

The sum of 1101 and 1011 in binary is: 11000

In [6]:
#add two binary no. by getting values from user
num1=input("Enter first binary number: ")
num2=input("Enter another binary number: ")
sum=bin(int(num1,2) + int(num2,2))
print("The sum of", num1, "and", num2, "in binary is:", sum[2:])

Enter first binary number: 1101
Enter another binary number: 1011
The sum of 1101 and 1011 in binary is: 11000

In [9]:
#to find power of a number
base=float(input("Enter base:"))
exponent=float(input("Enter exponent:"))
result=base**exponent
print(base,"to the power of",exponent,"is",result)

Enter base:2
Enter exponent:7
2.0 to the power of 7.0 is 128.0